@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Set up */
html {
  height: 100%;
}

body {
  height: 100vh;
  background-color: rgb(32, 0, 0);
}

h2 {
  color: white;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

/* Navbar */

nav {
  height: 75px;
  background-color: rgb(129, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

nav .navContainer {
  position: relative;
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

nav .navContainer h1 {
  font-size: 40px;
  font-weight: 700;
  cursor: pointer;
  margin-left: 5px;
}

nav .navContainer .navLinks {
  display: flex;
  gap: 20px;
  font-size: 20px;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}

/* Game room */

.gameRoom {
  margin-top: 200px;
  display: flex;
  justify-content: center;
}

.gameArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* form */

.gameRoom .formsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gameRoom .formsContainer .nameContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.gameRoom .formsContainer .nameContainer .nameHeader {
  height: 100%;
  margin: 0;
  padding-right: 10px;
  color: rgb(255, 255, 255);
}

.gameRoom .formsContainer .nameContainer input {
  height: 75%;
  margin: 0;
  padding: 10px;
  border-radius: 10px;
}

.gameRoom form {
  display: flex;
}

.gameRoom form .formLine {
  display: flex;
  justify-content: start;
  align-items: center;
}

.gameRoom form .line {
  display: flex;
  flex-direction: column;
  background: rgb(129, 0, 0);
}

.gameRoom form .line h2 {
  margin: 5px;
}

.gameRoom form .line input {
  padding: 5px;
}

.gameRoom form button {
  color: white;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 132, 0, 0.673);
  padding: 0 10px;
  border-radius: 0 10px 10px 0;
}

/* Board */
.gameArea h1 {
  color: white;
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.gameboard {
  display: inline-grid;
  grid-template-columns: repeat(8, 75px);
  border: black 1px solid;
}

.gameboard .square {
  height: 75px;
  width: 75px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.gameboard .square.valid {
  border: green 3px solid;
}

.gameboard .square.bg-black {
  background: rgb(129, 0, 0);
}

.gameboard .square.bg-white {
  background: rgb(255, 220, 133);
}

.piece {
  font-size: 40px;
}
